strong {
	font-weight: $bold;
}

h1, h2, h3, h4, h6 {
	color: #000000;
}

h1 {
	margin-top: 0px;
	//max-width: $wLogo;
	//width: 80%;
	display: inline-block;
	@include animacao;

	a {
		@include animacao();

		img {
			max-height: 100px;
			//@include animacao;
		}

		&:hover {
			opacity: .8;
		}
	}
}

h2 {
	font-size: 3.215rem;
	font-weight: $bold;
	display: block;
	padding: 10px 0;
	text-align: center;
}

h3 {

}

h4 {
	display: block;
	font-weight: $bold;
	font-size: 1.5rem;
	line-height: 1.125rem;

	i {
		color: $cor1;
		font-size: 3rem;
		vertical-align: middle;
		padding-right: 10px;
	}
}

h5 {
	font-weight: $bold;
	font-size: 1rem;
	line-height: 1.125rem;
	text-transform: uppercase;
	display: block;
	color: $cor1;
	text-align: center;

	a, i {
		@extend h5;
		display: inline-block;
	}

	a {
		//opacity: .5;
		@include animacao;

		&:hover {
			//opacity: 1;
			//color: $cor1;
			color: darken($cor1, 10%);
		}
	}

	i {
		padding: 0 5px;
		opacity: .5;
	}
}

h6 {

}

p, .p-texto {
	font-size: $font-size;
	line-height: $font-size+.6;
	font-weight: $regular;
	margin-bottom: 20px;

	&.sub-h2 {
		text-align: center;
		margin: 40px auto 0;
		margin-bottom: 0px;
		max-width: 780px;
		width: 80%;
	}

	&:last-child {
		margin-bottom: 0px;
	}
}

blockquote {
	padding: 30px!important;
	max-width: 80%;
	p {
		font-size: 2rem !important;
		line-height: 2.5rem !important;

		* {
			color: #000;
		}
	}

	&:last-child {
		margin-bottom: 0px;
	}
}

.content {
	p {
		text-align: justify;
	}

	.wp-block-image, img, iframe {
		width: 100%;
		display: block;
		margin: 30px 0px;
	}

	iframe {
		height: 50vh;
	}
}

.margin-top-30 {
	margin-top: 30px;
}

.justify-center {
	text-align: justify;  
	-moz-text-align-last: center;
	text-align-last: center;
}

.justify-left {
	text-align: justify;  
	-moz-text-align-last: left;
	text-align-last: left;
}

.justify {
	text-align: justify;  
	text-justify: inter-word;
}

.center {
	text-align: center;
	display: block;
}

.right {
	text-align: right;
	display: block;
}

.no-margim {
	margin: 0!important;
}

img {
	&.center {
		margin: 0px auto;
		display: block;
	}

	&.img-top-50 {
		margin-top: 50px;
	}
}

a {
	text-decoration: none;
	@include animacao;

	&:hover {
		text-decoration: none;		
	}

	&.btn-inline {
		display: inline-block;
		font-weight: $bold;
		font-size: 1rem;
		margin-top: 20px;
		color: $verde;

		.fas {
			@include animacao;
			margin-right: 5px;
		}

		.fas {
			color: $verde;

			&.circle {
				border-radius: 50%;
				border: 1px solid $verde;
				text-align: center;
				width: 30px;
				height: 30px;
				line-height: 28px;
			}
		}

		&:hover {
			color: $verde-claro;

			.fas {
				color: $verde-claro;

				&.circle {
					border-color: $verde-claro;
				}
			}
		}

		&.verde-claro {
			color: $verde-claro;

			.fas {
				color: $verde-claro;

				&.circle {
					border-color: $verde-claro;
				}
			}

			&:hover {
				color: $verde;

				.fas {
					color: $verde;

					&.circle {
						border-color: $verde;
					}
				}
			}
		}
	}
}

.paginacao {
	margin: 0px auto 0;
	text-align: center;

	li {
		display: inline-block;
		margin: 0px;

		span, a {
			display: block;
			font-size: 1.225rem;
			font-weight: $regular;
			line-height: 40px;
			height: 40px;
			padding: 0 10px;
			color: $cor1;
		}

		a {
			color: $cor1;
			@include animacao;

			.fa {
				font-size: 1.225rem;
				font-weight: $regular;
				color: $cor1;
			}

			&:hover {
				background-color: rgba($cor1, .5);
			}
		}

		.current {
			background-color: $cor1;
			color: #ffffff;
		}
	}
}

.ico-texto {
	display: block;
	margin: 0 auto 15px;
	@include clear;
}

/* CORES */
.verde {
	color: $verde;
}

.verde-claro {
	color: $verde-claro;
}