.header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	padding: 40px 0;
	float: left;
	background-color: #262626;
	@include animacao;

	h1 {
		display: inline-block;
		vertical-align: middle;
	}

	&.scroll_menu {
		background-color: #262626;
		padding: 20px 0;

		h1 {
			img {
				max-height: 70px;
			}
		}
	}
}

.home {
	.header {
		&:not(.scroll_menu) {
			background-color: transparent;
		}
	}
}
