.nav {
	float: right;
	line-height: 30px;
	height: 30px;
	//@include animacao();

	ul {
		@include box-sizing;
		position: relative;
		display: table;

		li {
			display: table-cell;
			padding: 0 10px;
			height: 30px;
			vertical-align: middle;
			@include animacao();

			a {
				color: rgba(#ffffff,.7);
				display: block;
				font-size: 0.85rem;
				text-transform: uppercase;
				padding: 2px 5px;
				font-weight: $bold;
				//text-shadow: 1px 1px 1px darken(#000, 5%);
				letter-spacing: 0.5px;
				@include animacao();

				i {
					color: rgba(#ffffff,.7);
					font-size: 1.5rem;
					line-height: 30px;
				}
			}

			&:hover, &.active {
				> a {
					color: #ffffff;

					i {
						color: #ffffff;
					}
				}
			}

			&:last-child {
				a {
					margin-left: 40px;
				}
			}
		}
	}
}

.header {
	&.scroll_menu {
		nav {
			ul {

			}
		}
	}
}

/* menu mobile */
.menu-mobile {
	color: #ffffff;
	display: none;
	z-index: 9999;
	position: absolute;
	cursor: pointer;
	font-size: 2.5rem;
	top: 28px;
	right: 50px;
	@include animacao;

	&.active {
		color: $verde-limao;

		&:hover {
			color: #ffffff;
		}
	}

	&:hover {
		color: $verde-limao;
	}
}