$width: 1450px;
$padding-container: 40px;
$padding-col: 15px;

$font-size: .85rem; 

$cor-txt: #4a4a4a;
$borda: #4a4a4a;
$verde-escuro: #005826; 
$verde: #417505; 
$verde-claro: #72bf44; 
$verde-limao: #aafe1f;

$cinza: #ededed;
$cinza-escuro: #4a4a4a;
$azul: #29a1d8;
$amarelo: #ebaa00;

$vermelho: #d0021b;
$dourado: #a4925f;

$bege: #a4925f;
$bordo: #790000;
$laranja: #ea793e;
$marrom: #99552b;
$roxo: #ffffff;

$pink: #f4364c;

$light: 300;
$regular: 400;
$bold: 700;

$wLogo: 245px;

$hSlide: 50vh;